.ant-card {
    border-radius: 10px;
    background-color: #ffd9e8;
}
.ant-card-head {
    border-radius: 10px 10px 0 0;
    background-color: #ffd9e8;
    border-bottom: 2px dashed #4a266a;
}
.ant-card-head-title {
    color: #4a266a;
}
.ant-card-body {
    color: #4a266a;
    border-radius: 0 0 10px 10px;
}

.ant-card-body p {
    color: #4a266a;
    border-radius: 0 0 10px 10px;
    text-align: left;
}

.ant-card-body .anticon {
    margin-left: auto;
    float: right;
    padding: 0 0 0 17.5px;
    text-align: right;
}
