.ant-card {
    border-radius: 10px !important;
}
.ant-card-head {
    background-color: rgba(245, 216, 216) !important;
    border-radius: 10px 10px 0 0 !important;
    border-bottom: 2px dashed #ffb3b3 !important;
}

.ant-card-body {
    background-color: rgba(245, 216, 216) !important;
    color: rgba(168, 66, 151);
    border-radius: 0 0 10px 10px !important;
}
