@import "../node_modules/antd/dist/antd.css";

.App {
    text-align: center;
    background-color: #4a266a;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    height: 150px;
    padding: 20px;
}

.App-title {
    font-size: 3.5em;
    color: #4a266a;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
